@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'body';
  src: url('./assets/fonts/Switzer-Variable.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'title';
  src: url('./assets/fonts/CabinetGrotesk-Variable.ttf') format('truetype');
  font-style: normal;
}

@layer base {
  body {
    @apply light-theme;
  }
}

@layer components {
  .light-theme {
    @apply bg-primary text-primary-dark;
  }

  .dark-theme {
    @apply bg-primary-dark text-primary;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .common-padding {
    /* @apply px-2 py-6 sm:px-4 sm:py-8 md:px-12 md:py-8 lg:px-28 lg:py-10; */
    @apply px-2 pt-6 sm:px-4 sm:pt-8 md:px-12 md:pt-8 lg:px-48 lg:pt-12;
  }

  /* .nav-link {
    @apply cursor-pointer;
  } */
}
